<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Now</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="./img/furjoylogo.ico">
</head>
<body>

	<!-- create navigation bar ( header) -->
	

<br>
<br>
<div class="login-as-guest-button">
    <a href="/home">
        <span>Login as Guest</span>
        <i class="fa fa-user"></i> <!-- You can replace "fa-user" with the appropriate icon class for your desired icon -->
    </a>
</div>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered!
						</div>
				</div>
				

				

				<form th:action="@{/registration}" method="post" th:object="${user}" class="form-container">
					<div class="form-group">
						<img src="img/furjoylogo.png" alt="Image Description">
						<h3> Register </h3>
						<label class="control-label" for="firstName"> First Name </label>
						<input id="firstName" class="form-control" th:field="*{firstName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName"> Last Name </label> <input
							id="lastName" class="form-control" th:field="*{lastName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="email"> Email </label> <input
							id="email" class="form-control" th:field="*{email}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="form-control btn btn-primary">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>